body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .search {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    max-width: 200px;
    margin-bottom: 20px;
    background-color:gray;
  }
  
  .hero {
    background-image: url('./images/hotel_feture_1.jpg');
    color: #ffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
   
  }
  
  nav {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  li {
    margin: 10px;
  }
  
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  span.active {
    border-radius: 50%;
    background-color: green;
    
  }
  .circle {
    border: 2px solid white; /* Set the border style and color */
    border-radius: 50%; /* Make it circular */
    display: inline-block;
    width: 20px; /* Set the width of the circle */
    height: 20px; /* Set the height of the circle */
    text-align: center; /* Center the number inside the circle */
    line-height: 20px; /* Center the number vertically */
    margin-right: 5px; /* Add some spacing between the circle and the text */
  }
  
  a:hover {
    color: #0066cc;
  }
  .search-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
  }
  
  .search-aside {
    width: 250px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: green;
    font-size: larger;
    outline: none;
  }
  
  .search-aside h2 {
    margin-bottom: 10px;
  }
  
  .search-aside label {
    display: block;
    margin-bottom: 10px;
  }
  
  .search-aside select,
  .search-aside input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .search-content {
    flex: 1;
    padding: 20px;
  }
  .search-progress-bar {
    margin-top: 20px;
    width: 250px;
  }
  
  .progress-label {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .search-content input[type="range"] {
    width: 100%;
    color: green;
    margin-top: 5px;
  }
  /* Media query for smaller screens (adjust as needed) */
  @media (max-width: 768px) {
    .search-aside {
      width: 100%;
    }
  }